{
    "extends": "airbnb-base",
    "rules": {
        "linebreak-style": "off",
        "no-use-before-define": "off",
        "indent": [
            "error",
            4
        ],
        "no-plusplus": [
            "error",
            {
                "allowForLoopAfterthoughts": true
            }
        ],
        "no-underscore-dangle": [
            "error",
            {
                "allow": [
                    "_id"
                ]
            }
        ]
    }
}
